body{
    position: relative;
}

.header{
    width: 100%;
    max-height: 100px;
    margin-bottom: 10px;    
    display: flex;    
    background: url(https://images.unsplash.com/photo-1536532184021-da5392b55da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-size: cover;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 100px;
    height: 100px;    
}

.headMenu{
    width: 100%;
    height: 100px;       
}

.slogan{
    width: 100%;     
    text-align: center;    
    font-size: 17px;
    font-family: 'Ephesis', 'cursive';
    margin-bottom: 10px;
    padding: 10px 0px;
    color: white;
    
}

.slogan h2{
    margin: 0px;
    font-family: monospace;
}

.menu{
    max-width: 100%;      
    display: flex;
    background-color:#0e324e;
    justify-content: space-between;    
}

/* .login{    
    width: 80px;
    
    font-size: 20px;
} */

/* .login button{
    width: 80px;
    border: 8px solid #015ca2;  
    margin-top: 3px;
} */

/* .login a{
    text-decoration: none;
} */

.sub_menu a:hover{
    color: yellow;
}

.list{
    width: 100%; 
    /* padding-right: 4.5%; */
}

.list ul{
    display: flex;
    list-style: none;    
    /* justify-content: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
}

.sub_menu{ 
    min-width: 100px;   
    text-align: left;
    position: relative;   
    margin: 9px 0px;
}



.navbar{
    width: 200px;
    position: absolute;
    background-color: rgb(119, 156, 212);
    padding-left: 0;
    flex-direction: column;
    /* display: none; */
    top: 31px;
    left: -10px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 10px;   
    z-index: 2;
    /* animation: fadeIn ease-in 0.3s; */
}

/* animation */
@keyframes fadIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* animation */



/* ================================================================ */

.sub_menu_gt:hover .navbar_gt{    
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.navbar_gt::before{    
    content: "";
    width: 50%;
    height: 10px;    
    top: -10px;
    left: 0;
    display: block;
    position: absolute;
    /* background-color: red; */
}

.sub_menu_dv:hover .navbar_dv{    
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.navbar_dv::before{    
    content: "";
    width: 50%;
    height: 10px;    
    top: -10px;
    left: 0;
    display: block;
    position: absolute;
    
}

.sub_menu_da:hover .navbar_da{    
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.navbar_da::before{    
    content: "";
    width: 50%;
    height: 10px;    
    top: -10px;
    left: 0;
    display: block;
    position: absolute;
    
}

.sub_menu_tt:hover .navbar_tt{    
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.navbar_tt::before{    
    content: "";
    width: 50%;
    height: 10px;    
    top: -10px;
    left: 0;
    display: block;
    position: absolute;
    
}

/* ================================================================ */


.navbar a:hover{
    color: rgb(217, 141, 18);
}

.navbar li{    
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}

.navbar li a{
    color: rgb(15, 23, 99);
}

.sub_menu a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;    
}

.content{
    /* position: absolute; */
    width: 100%; 
    margin-top: 109px;     
}

.content img{
    width: 100%;
    max-height: 630px;   
    border-radius: 3px;
}

.describe{
    max-width: 100%;
    align-items: center;
    text-align: center;
    border: 3.5px solid black;
    border-radius: 15px;
    margin-top: 10px;
}

.describe h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.describe p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;    
    font-weight: 545;
}
.banner{    
    position: relative;   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.banner_narv{
    position: relative;
    width: 25%;  
    min-width: 360px;
    text-align: center;
    
}

.banner_narv h3{
    width: 340px;    
    position: absolute;
    margin: 10px;
    padding: 5px 0;
    vertical-align: middle;
    background-color: aliceblue;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
}

.banner_narv p{
    /* position: absolute; */
}

.banner_narv img{   
    height: 250px;
    /* position: absolute; */
}

.footer{
    text-align: center;
    background-image: linear-gradient(135deg, #4094d4, #0e2d4e);
    color:white;
}
.footer__content {
    padding: 10px;
}



