body{
    position: relative;
}
.header{    
    width: 100%;
    height: 15rem;
    position: relative;
    /* display: flex; */
    align-items: center;
    background-image: url(https://media.zicxa.com/5852926);
    background-size: cover;
    color: white;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
}

.logo img{
    
    background-color: black;
    position: relative;
    width: 120px;
    height: 50px;
    display: flex;
    z-index: 1;    
    border: 4px solid #dec56c ;
}

.slogan{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 60px;    
    text-align: center; 
    vertical-align: middle;
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); 
    background-clip: text;
    color: transparent; */
}

.slogan h2{ 
    margin: 0;   
    padding: 0;
    
}
.login{
    position: absolute; 
    padding: 5px;
    background: linear-gradient(135deg, #30CFD0 0%, #330867 100%);
    right: 2px;  
    top: 2px;     
}

.login button{
    width: 60px;
    height: 25px;
}

.login a{
    text-decoration: none;
    font-size: 15px;    
}

.menu{
    position: relative;
    margin: 30px 0;
    box-shadow: 2px 2px 2px 2px #49bfff;
    border-radius: 10px;
}

.home{
    position: absolute;
    left: 20px;
    top: -25px;
    background: linear-gradient(135deg, #4184f1 0%, #321997 100%);
    align-items: center;
    padding: 8px 15px;
    border-radius: 4px 4px 0px 0px;
}

.home a{
    color: white;
    text-decoration: none;
}

.menu_ul{
    position: relative;
    margin: 15px;
    padding-top: 30px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.menu_ul li{
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
}

.menu_ul li a{
    text-decoration: none;
}

.sub_menu{
    position: relative;
    width: 240px;
    height: 290px;
    background: linear-gradient(135deg, #59ffff 0%, #cc7aff 100%);
    margin: 0px 15px 45px 15px;
    box-shadow: 4px 4px ;
    border-radius: 10px;
    padding-right: 20px;
}

.sub_menu:hover .sub_menu_title{
    position: absolute;
    top: 0;
    color: #600c8e;
    font-size: 30px;
    margin-left: 40px;
    text-align: left;
    margin-top: 15px;
}

.sub_menu:hover .sub_menu_logo img{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.sub_menu:hover .navbar{
    opacity: 1;
    visibility: visible;
    /* position: absolute;
    top: 45px; */
    margin-top: 50px;
    margin-left: 35px;
}

.sub_menu_title{
    color: #600c8e;
    font-size: 48px;
    margin-top: 190px;
    text-align: center;
}

.sub_menu_logo img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 60px;
}

.sub_menu ul{   
    margin-top: 5px;
    margin-left: 30px;
    padding: 0;
}

.navbar {
    /* margin-top: 40px; */
    opacity: 0;
    visibility: hidden;
}

.navbar li{
    font-size: 20px;
    padding: 10px;
}

.footer{
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
    background: #286696;
    /* background-image: linear-gradient(135deg, #59ffff 0%, #cc7aff 100%); */
    color:white;
}

.footer_content {
    padding: 40px 0px;
}

