

.mymenu{

    background: linear-gradient(-135deg, #59ffff 0%, #cc7aff 100%);
    overflow: hidden;
    border-bottom: #000000 3px solid;
}

.mymenu_ul{
    background-color: white;
    margin: 25px 30px 35px 30px;
    position: relative;
    padding: 10px 0px 20px 0px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    box-shadow: 2px 2px 2px 2px #1a1c1e;
    border-radius: 10px;
}

.mymenu_ul a{
    color: #25214a;
    text-decoration: none;
}

.mymenu_ul li{
    margin: 10px 10px;
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
}

.mymenu_ul li a{
    color: rgb(87, 0, 128);
    text-decoration: none;
}

.mysub_menu{
    position: relative;
    width: 240px;
    height: 290px;
    background: linear-gradient(135deg, #59ffff 0%, #cc7aff 100%);
    box-shadow: 4px 4px 3px;
    border-radius: 10px;
    padding-right: 20px;
}


.mysub_menu_title{
    color: #600c8e;
    font-size: 40px;
    margin-top: 190px;
    text-align: center;

}

.mysub_menu_logo img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 43px;
}

.mysub_menu ul{
    margin-top: 5px;
    margin-left: 30px;
    padding: 0;
}