<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>AccountController.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>AccountController.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>EmployeeController.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>DepartmentController.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>EmployeeController.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>EmployeeController.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>EmployeeController.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>ProjectController.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectEditServlet</servlet-name>
        <servlet-class>ProjectController.ProjectEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectAddServlet</servlet-name>
        <servlet-class>ProjectController.ProjectAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <servlet-class>ProjectController.ProjectDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>CustomerController.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <servlet-class>CustomerController.CustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddServlet</servlet-name>
        <servlet-class>CustomerController.CustomerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditServlet</servlet-name>
        <servlet-class>CustomerController.CustomerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>AccountController.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>AccountController.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>AccountController.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>ResourceController.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectInfoServlet</servlet-name>
        <servlet-class>ProjectController.ProjectInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignServlet</servlet-name>
        <servlet-class>DesignController.DesignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftServlet</servlet-name>
        <servlet-class>DraftController.DraftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignAddServlet</servlet-name>
        <servlet-class>DesignController.DesignAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignDeleteServlet</servlet-name>
        <servlet-class>DesignController.DesignDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignEditServlet</servlet-name>
        <servlet-class>DesignController.DesignEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftAddServlet</servlet-name>
        <servlet-class>DraftController.DraftAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftDeleteServlet</servlet-name>
        <servlet-class>DraftController.DraftDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftEditServlet</servlet-name>
        <servlet-class>DraftController.DraftEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignInfoServlet</servlet-name>
        <servlet-class>DesignController.DesignInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftInfoServlet</servlet-name>
        <servlet-class>DraftController.DraftInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentController</servlet-name>
        <servlet-class>AssignmentController.AssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentInfoServlet</servlet-name>
        <servlet-class>AssignmentController.AssignmentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentAddServlet</servlet-name>
        <servlet-class>AssignmentController.AssignmentAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkServlet</servlet-name>
        <servlet-class>AssignmentController.WorkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkAddServlet</servlet-name>
        <servlet-class>AssignmentController.WorkAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkEditServlet</servlet-name>
        <servlet-class>AssignmentController.WorkEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkDeleteServlet</servlet-name>
        <servlet-class>AssignmentController.WorkDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignmentEditServlet</servlet-name>
        <servlet-class>AssignmentController.AsignmentEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentDeleteServlet</servlet-name>
        <servlet-class>AssignmentController.AssignmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentManagerServlet</servlet-name>
        <servlet-class>AssignmentController.AssignmentManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoleLogin</servlet-name>
        <servlet-class>AccountController.CheckRoleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkEmployeeServlet</servlet-name>
        <servlet-class>AssignmentController.WorkEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeManagerServlet</servlet-name>
        <servlet-class>EmployeeController.ChangeManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePosAndDepartServlet</servlet-name>
        <servlet-class>EmployeeController.ChangePosAndDepartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwdServlet</servlet-name>
        <servlet-class>AccountController.ChangePwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProjectServlet</servlet-name>
        <servlet-class>ProjectController.SearchProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>EmployeeController.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>CustomerController.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDesignServlet</servlet-name>
        <servlet-class>DesignController.SearchDesignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDraftServlet</servlet-name>
        <servlet-class>DraftController.SearchDraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/depart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/editem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectEditServlet</servlet-name>
        <url-pattern>/projectedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectAddServlet</servlet-name>
        <url-pattern>/projectadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <url-pattern>/projectdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <url-pattern>/customerdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddServlet</servlet-name>
        <url-pattern>/customeradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditServlet</servlet-name>
        <url-pattern>/customeredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/resource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectInfoServlet</servlet-name>
        <url-pattern>/projectinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignServlet</servlet-name>
        <url-pattern>/design</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftServlet</servlet-name>
        <url-pattern>/draft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignAddServlet</servlet-name>
        <url-pattern>/designadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignDeleteServlet</servlet-name>
        <url-pattern>/designdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignEditServlet</servlet-name>
        <url-pattern>/designedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftAddServlet</servlet-name>
        <url-pattern>/draftadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftDeleteServlet</servlet-name>
        <url-pattern>/draftdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftEditServlet</servlet-name>
        <url-pattern>/draftedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignInfoServlet</servlet-name>
        <url-pattern>/designinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftInfoServlet</servlet-name>
        <url-pattern>/draftinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentController</servlet-name>
        <url-pattern>/assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentInfoServlet</servlet-name>
        <url-pattern>/assignmentinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentAddServlet</servlet-name>
        <url-pattern>/assignmentadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkServlet</servlet-name>
        <url-pattern>/work</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkAddServlet</servlet-name>
        <url-pattern>/workadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkEditServlet</servlet-name>
        <url-pattern>/workedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkDeleteServlet</servlet-name>
        <url-pattern>/workdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignmentEditServlet</servlet-name>
        <url-pattern>/assignmentedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentDeleteServlet</servlet-name>
        <url-pattern>/assignmentdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentManagerServlet</servlet-name>
        <url-pattern>/assignmentmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoleLogin</servlet-name>
        <url-pattern>/checkrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkEmployeeServlet</servlet-name>
        <url-pattern>/workemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeManagerServlet</servlet-name>
        <url-pattern>/changemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePosAndDepartServlet</servlet-name>
        <url-pattern>/changeposanddepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwdServlet</servlet-name>
        <url-pattern>/changepwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProjectServlet</servlet-name>
        <url-pattern>/searchp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/searche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/searchc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDesignServlet</servlet-name>
        <url-pattern>/searchds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDraftServlet</servlet-name>
        <url-pattern>/searchdr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
