body {
    font-family: Arial, sans-serif;
    background-image: url(https://cbs.edu.vn/newsmultidata/co-hoi-viec-lam-nghe-hoa-vien-kien-truc-thiet-ke-noi-that-cho-hoc-vien-cbs-1.jpg);
    background-size: cover;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 180px;
  }

  input{
    max-width: 378px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  .form-group .message {
    margin-top: 10px;
    text-align: center;
    color: red;
  }